/* login */
/* ------------------------------------------------------------ */

.login-alert_position {
  z-index: 999;
  width: 100%;
  position: absolute;
}

.login-alert_message {
  margin-top: 15px;
  justify-self: center;
}

.login-logo_position {
  z-index: 999;
  width: 100%;
  position: absolute;
}

.login-logo_center {
  top: calc(100vh - 85vh);
  text-align: center;
  position: relative;
}

.login-logo_font {
  color: #fff;
  font-size: xxx-large;
  font-weight: bolder;
  font-family: "Damion", cursive;
}

.login-btn_position {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #795548;
}

.login-btn_center {
  top: calc(100vh - 60vh);
  text-align: center;
  position: relative;
}

/* header */
/* ------------------------------------------------------------ */

.header-logo_font {
  font-size: 1.6rem !important;
}

.header-title_font {
  font-size: 1.6rem !important;
  font-weight: bolder;
  font-family: "Damion", cursive;
  margin-inline-start: 0px !important;
}

.header-icon_font {
  font-size: 1.3rem !important;
}

.header-blank {
  width: 48px;
  margin-inline-end: 4px;
}

.header-fixed {
  width: 100%;
  z-index: 999;
  position: fixed;
}

/* home */
/* ------------------------------------------------------------ */

.home-div-flex {
  display: flex;
}

.home-non-display {
  display: unset !important;
}

.home-global-color {
  color: #9E9E9E;
  font-weight: 700;
}

.home-avatar-right {
  margin-right: 10px;
}

.home-like-font-bold {
  font-weight: bold;
}

.home-like-font-color {
  color: #ff0000 !important;
}

.home-loading-center {
  margin: 0 auto;
}

.home-margin-top > .v-infinite-scroll__side:first-child {
  margin-top: 112px;
}

.home-title-name .v-card-title {
  font-size: 0.9rem !important;
  font-weight: 700 !important;
}

/* compass */
/* ------------------------------------------------------------ */
.compass-radius {
  border-radius: 5px !important;
}

.compass-container_npd {
  padding: 0px !important;
}

.compass-col_npd {
  padding: 1px !important;
}

.compass-loading-center {
  margin: 0 auto;
}

.compass-img-height {
  height: 180px !important;
}

.compass-margin-top > .v-infinite-scroll__side:first-child {
  margin-top: 112px;
}

/* permission */
/* ------------------------------------------------------------ */

.permission-alert_position {
  z-index: 999;
  width: 100%;
  position: absolute;
  top: calc(100vh - 60vh);
}

.permission-alert_message {
  margin-top: 15px;
  justify-self: center;
}

.permission-logo_position {
  z-index: 999;
  width: 100%;
  position: absolute;
}

.permission-logo_center {
  top: calc(100vh - 85vh);
  text-align: center;
  position: relative;
}

.permission-logo_font {
  color: #fff;
  font-size: xxx-large;
  font-weight: bolder;
  font-family: "Damion", cursive;
}

.permission-btn_position {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #795548;
}

.permission-btn_center {
  top: calc(100vh - 48vh);
  text-align: center;
  position: relative;
}

/* comment */
/* ------------------------------------------------------------ */

.comment-scroll {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #fff;
}

.comment-write {
  width: 100%;
  background: #fff;
}

.comment-wirte_margin {
  margin-left: 15px;
  margin-right: 15px;
}

.comment-list, .v-list {
  padding: 0px !important;
}

.comment-list-title, .v-list-item-title {
  font-size: 0.8rem !important;
}

.comment-list-subtitle, .v-list-item-subtitle {
  font-size: 0.9rem !important;
  font-weight: 800 !important;
}

.comment-margin-left {
  margin-left: 5px;
}

.comment-emoji {
  width: 100%;
  height: 150px;
  overflow: auto;
  background: #fff;
}

.comment-stamp {
  margin: 0px !important;
}

.comment-emoji-select {
  border-radius: 15px;
  border: 3px solid rgb(255, 99, 99);
}

.comment-subtitle-opacity > div > .v-list-item-subtitle {
  opacity: unset !important;
  font-weight: unset !important;
}

/* detail */
/* ------------------------------------------------------------ */

.detail-bottom_10 {
  margin-bottom: 10px;
}

.detail-center {
  margin-top: calc(100vh - 60vh);
  margin-left: 30px;
  margin-right: 30px;
}

.detail-overflow {
  overflow: auto;
}

.detail-overflow > .v-window {
  margin-top: 64px;
}

/* upload */
/* ------------------------------------------------------------ */

.upload-alert_position {
  width: 100%;
}

.upload-alert_message {
  width: 100%;
  margin-top: 15px;
  justify-self: center;
}

.upload-overflow {
  overflow: auto;
}

.upload-overflow > .v-input {
  margin-top: 130px;
}

.upload-content {
  margin-bottom: 70px;
}

.upload-input {
  margin-left: 20px;
  margin-right: 20px;
}

.upload-btn {
  z-index: 999;
  bottom: 10px;
  position: fixed;
  position-area: bottom;
}

/* profile */
/* ------------------------------------------------------------ */

.profile-overflow {
  overflow: auto;
}

.profile-overflow > div:first-child {
  margin-top: 130px;
}

.profile-top {
  margin-top: 15px;
}

.profile-margin {
  margin-left: 20px;
  margin-right: 20px;
}

.profile-name {
  margin-top: 15px;
  margin-left: 25px;
  color: #373737;
  font-size: small;
  font-weight: 700;
}

.profile-content {
  margin-top: 5px;
  margin-left: 25px;
  margin-right: 25px;
  color: #373737;
  font-size: 9pt;
}

.profile-loading-center {
  margin: 0 auto;
}

.profile-container_npd {
  padding: 0px !important;
}

.profile-col_npd {
  padding: 1px !important;
}

.profile-radius {
  border-radius: 5px !important;
}

.profile-img-height {
  height: 180px !important;
}

.profile-text {
  font-size: small;
  margin-left: 25px;
  align-content: center;
}

.profile-text-style {
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
}